*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.navBarr{
    height: 15vh;
    flex-direction: row;
    justify-content: space-between;
    background-color: #000;
}
.navBarr .navLeft{
    width: 65%;
    flex-direction: row;
}
.navBarr .navLeft .navListt{
    flex-direction: row;
}
.navBarr .navLeft .navListt .aaa,.aa{
    margin-top: 18px;
    padding: 0 10px;
    color: white;
    list-style: none;
    text-decoration: none;
    font-size: 0.89em;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
   
}
.navBarr .navLeft .navListt a:hover{
    padding: 10px 10px;
    color:#000;
    background-color: #fff;
}

.navBarr .navLeft .logo{
    width: 78px;
    height: 60px;
    background-image: url("../img/logo.png");
}
.navBarr .navRight{
    width: 20%;
    flex-direction: row;
}
.navBarr .navRight .shopi{
    width: 30px;
    height: 20px;
    margin-top: 12px;
    background: url(../img/img-sprite.png) no-repeat -66px -8px;
}
.navBarr .navRight .search{
    width: 30px;
    height: 30px;
    background: #000 url(../img/img-sprite.png) no-repeat 0px 1px;
}







.quienesSomos{
    background-image: url("/Img/bg_image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: bisque;
    width: 100%;
    height: 115vh;
    align-items: flex-start;
}

.quienesSomos .texto{
    color: white;
    width: 682px;
    height: 531px;
    margin-left: 380px;
}

.quienesSomos .titulo{
    font-size: 2.8em;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 800;
    margin-bottom: 80px;
}

.quienesSomos p{
    
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    font-size: 13.6px;
    line-height: 2.2;
    margin: 40px 0;
}